src/Modules/Laser.Orchard.BikeSharing/Web References/com.mobilityparc.www/StationOpWSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mobility-parc.com/ws" xmlns:ns1="http://cxf.apache.org/bindings/xformat" name="StationOpWSService" targetNamespace="http://www.mobility-parc.com/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.mobility-parc.com/ws" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="RetrieveBikesWSResp">
        <xs:sequence>
          <xs:element name="error" type="xs:int" />
          <xs:element maxOccurs="unbounded" name="bikeWSResps" type="tns:BikeWSResp" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BikeWSResp">
        <xs:sequence>
          <xs:element name="bikeUid" type="xs:string" />
          <xs:element name="bikeName" type="xs:string" />
          <xs:element name="batteryLevel" type="xs:int" />
          <xs:element name="terminal" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="retrieveBicyclesResponse">
    <wsdl:part name="RetrieveBikesWSResp" type="tns:RetrieveBikesWSResp" />
  </wsdl:message>
  <wsdl:message name="retrieveBicycles">
    <wsdl:part name="stationName" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="IStationOpWS">
    <wsdl:operation name="retrieveBicycles">
      <wsdl:input name="retrieveBicycles" message="tns:retrieveBicycles" />
      <wsdl:output name="retrieveBicyclesResponse" message="tns:retrieveBicyclesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StationOpWSServiceSoapBinding" type="tns:IStationOpWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="retrieveBicycles">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="retrieveBicycles">
        <soap:body use="literal" namespace="http://www.mobility-parc.com/ws" />
      </wsdl:input>
      <wsdl:output name="retrieveBicyclesResponse">
        <soap:body use="literal" namespace="http://www.mobility-parc.com/ws" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StationOpWSService">
    <wsdl:port name="StationOpWSPort" binding="tns:StationOpWSServiceSoapBinding">
      <soap:address location="http://www.mobility-parc.com/ws/stationOpWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>